<!-- header -->
<%- include('./component/header.ejs')%>
    <!-- header -->
    <div class="content">
        <div class="container mt-10">
            <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 gap-4 text-center">
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
                <div class="rounded drop-shadow-md py-4 bg-slate-100 h-80 flex flex-col justify-between items-center">
                    <h3 class="text-2xl drop-shadow-lg">Iphone 13</h3>
                    <img src="/img/iphone 13.jpeg" alt="">
                    <p class="text-slate-600">All new iphone 13</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <%- include('./component/footer.ejs')%>
        <!-- footer -->