.main-height{ 
    height: calc(100vh - 104px);
}
.main .overlay {
     width: 100%;
     height: calc(100vh - 104px);
     position: absolute;
     background-color: rgb(0, 0, 0,30%);
}

.err {
    display: none;
}