<!-- header -->
<%- include('../component/header.ejs') %>
  <!-- header -->
  <div class="container h-full main-height">
    <div class="flex justify-center items-center mb-6 h-full w-full">
      <form class="h-fit xl:w-1/3 lg:w-1/2 md:w-1/2 sm:w-1/2 p-10 border-solid border-2 shadow-xl rounded">
        <h1 class="text-5xl mb-6 text-blue-500">Sign Up</h1>
        <div class="my-4">
          <input type="text" name="username" placeholder="Username"
            class="text-slate-500 w-full h-10 border-solid border-2 focus:border-blue-500 outline-none px-2 rounded focus:ease-in focus:duration-200" />
          <div class="username_err hidden p-1 mt-2 bg-red-200 mx-auto text-red-500 rounded text-sm"></div>
        </div>
        <div class="my-4">
          <input type="email" name="email" placeholder="@Email"
            class="text-slate-500 w-full h-10 border-solid border-2 focus:border-blue-500 outline-none px-2 rounded focus:ease-in focus:duration-200" />
          <div class="email_err hidden p-1 mt-2 bg-red-200 mx-auto text-red-500 rounded text-sm"></div>
        </div>
        <div class="my-4">
          <input type="password" name="password" placeholder="Password"
            class="text-slate-500 w-full border-solid border-2 focus:border-blue-500 outline-none h-10 px-2 rounded focus:ease-in focus:duration-200" />
          <div class="password_err hidden p-1 mt-2 bg-red-200 mx-auto text-red-500 rounded text-sm"></div>
        </div>
        <div class="mt-4">
          <input type="submit" value="Sign up"
            class="w-full h-10 px-2 rounded text-white bg-blue-500 cursor-pointer hover:bg-white hover:text-blue-500 ease-in duration-200 hover:border-solid hover:border-2 hover:border-blue-500" />
        </div>
      </form>
    </div>
  </div>
  <script>
    const form = document.querySelector("form");
    const email_err = document.querySelector(".email_err");
    const password_err = document.querySelector(".password_err");
    const username_err = document.querySelector(".username_err");
    form.addEventListener("submit", async (e) => {
      username_err.textContent = "";
      email_err.textContent = "";
      password_err.textContent = "";
      username_err.classList.add("hidden");
      email_err.classList.add("hidden");
      password_err.classList.add("hidden");
      e.preventDefault();
      const username = form.username.value;
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch("/signup", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, email, password }),
        });
        const data = await res.json();
        console.log(data);
        if (data.error) {
          if (data.error.username) {
            username_err.textContent = data.error.username;
            username_err.classList.remove("hidden");
          }
          if (data.error.email) {
            email_err.textContent = data.error.email;
            email_err.classList.remove("hidden");
          }
          if (data.error.password) {
            password_err.textContent = data.error.password;
            password_err.classList.remove("hidden");
          }
        }
        if (data.user) {
          location.assign("/verifyEmail");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
  <!-- header -->
  <%- include('../component/footer.ejs') %>
    <!-- header -->