<!-- header -->
<%- include('../component/header.ejs') %>
<!-- header -->
<div class="container h-full main-height">
    <div class="flex justify-center items-center mb-6 h-full w-full">
        <form class="h-fit xl:w-1/3 lg:w-1/2 md:w-1/2 sm:w-1/2 p-10 border-solid border-2 shadow-xl rounded">
            <h1 class="text-5xl mb-6 text-blue-500">Sign in</h1>
            <div class="my-4">
                <input type="text" placeholder="Username" class="text-slate-500 w-full h-10 border-solid border-2 focus:border-blue-500 outline-none px-2 rounded focus:ease-in focus:duration-200">
            </div>
            <div class="my-4">
                <input type="email" placeholder="@Email" class="text-slate-500 w-full h-10 border-solid border-2 focus:border-blue-500 outline-none px-2 rounded focus:ease-in focus:duration-200">
            </div >
            <div class="my-4">
                <input type="password" placeholder="Password" class="text-slate-500 w-full border-solid border-2 focus:border-blue-500 outline-none h-10 px-2 rounded focus:ease-in focus:duration-200">
            </div>
            <div class="mt-4">
                <input type="submit" value="Sign in" class="w-full h-10 px-2 rounded text-white bg-blue-500 cursor-pointer hover:bg-white hover:text-blue-500 ease-in duration-200 hover:border-solid hover:border-2 hover:border-blue-500">
            </div>
        </form>
    </div>
</div>
<!-- header -->
<%- include('../component/footer.ejs') %>
<!-- header -->