<style>
    .email_verify {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
<div class="email_verify">
    <div>
        <h1>We send verify email to you</h1>
        <h1>Please check your email</h1>
    </div>
</div>